.user-form {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.user-form input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.user-form button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* User list styles */
.user-list {
  margin-top: 50px;
}

.user-list h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list th,
.user-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.user-list th {
  font-weight: bold;
  background-color: #f7f7f7;
}

.user-list td:last-child {
  text-align: center;
}

.user-list button {
  padding: 5px 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.user-list button:hover {
  background-color: #005ea3;
}

